<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>
  <!--REWRITE URL WITH HTML EXTENSTION-->
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="extensionless" stopProcessing="true">
          <match url="(.*)\.html$" />
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="removeextension" enabled="true">
          <match url=".*" negate="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
            <add input="{URL}" pattern="\." negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:0}.html" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
